/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  text-align: center;
  background: #fffaf5;
  color: #e25a8b;
  font-family: "Dongle", sans-serif;
  font-size: 40px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #e25a8b;
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
  padding: 0; /* Ensure no extra padding */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #fffaf5;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  display: inline-block;
}

nav ul li a:hover {
  color: #f3aec7;
}

/* Contact Section */
.contact-container {
  max-width: 600px;
  margin: 150px auto 50px;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #e25a8b;
}

/* Social Media Section */
.socials2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials2 a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials2 img {
  width: 100px;
  transition: transform 0.3s ease;
}

.socials2 img:hover {
  transform: scale(1.2);
}

.socials2 p {
  font-size: 25px;
  color: #e25a8b;
  margin-top: 25px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .contact-container {
    width: 90%;
    margin: 100px auto 30px;
    padding: 15px;
  }

  .socials2 {
    flex-direction: column;
    align-items: center;
  }

  .socials2 img {
    width: 80px;
  }

  .socials2 p {
    margin-top: -20px;
  }

  /* Disable hover effects on mobile */
  .socials2 img:hover {
    transform: none;
  }
}

/* Footer */
footer {
  background: #fffaf5;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 15px;
}

/* Flower Images */
.PortfolioFlower1,
.PortfolioFlower2 {
  position: fixed;
  height: 250px;
  bottom: 0;
}

.PortfolioFlower1 {
  right: 0;
}

.PortfolioFlower2 {
  left: 0;
}

@media (max-width: 768px) {
  .PortfolioFlower1,
  .PortfolioFlower2 {
    height: 150px;
  }
}
